@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .create_page_input {
    @apply border rounded p-2 mt-2;
  }

  .create_page_button {
    @apply border rounded p-2 mt-2;
  }

  .create_page_container {
    @apply grid border p-4 rounded;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}

html {
  overflow-x: hidden;
}

#root {
  width: 100vw;
}

.back__img {
  object-fit: contain;
  scale: 70%;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #0000008a;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
